html {
  font: 14px Verdana, sans-serif;
}
aside,
footer,
header,
nav {
  background: #2DB34A;
}
header,
footer {
  text-align: center;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}


.header {
  font-size: 46px;
}
.footer {
  font-size: 10px;
}
.content {
  font-size: 14px;
}
.navigation {
  font-size: 12px;
}
.sidebar {
  font-size: 10px;
}
.header,
.footer,
.sidebar {
  background: rgba(0, 255, 31, 0.24); 
}
.navigation {
  background: rgba(255, 153, 0, 0.52);
} 
